body{
    font-size:12pt;
}

table{
    width:100%;
    border-collapse:collapase;
    border:1pt solid#D8D9DA;
}

th,td{
    border:1pt solid#D8D9DA;
    padding: 8px;
    text-align:left;
}

thead{
    background-color: #D6EFED;
    text-align:center;
}